
 <!-- //   let newInput ={
    
  //     "eventid":2138990184,
  //     "eventdateid":2138982482,
  //   "checkout_id":2138867632,
  //   "buyerdetails": [
  //     {
  //       "buyer_firstname": "Santhosh",
  //       "buyer_lastname":  "balaguru",
  //       "buyer_email":  "sant@123"
        
  //     }
  //   ],
  //   "tickets": [
  //     {
  //       "ticket_price_id": 2137713607,
  //       "first_name": "msd",
  //       "last_name": "chn",
  //       "email": "msd@chennai.com"
  //     },
  //     {
  //       "ticket_price_id": 2137713606,
  //       "first_name": "yuvi",
  //       "last_name": "singh",
  //       "email": "yuvaraj@punjab.com"
  //     }
  //   ],
  //   "payment_id": 2138979158
  
  
  //  } -->
